.input {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 2%;

}
.example-card {
    width: 30%;
    margin: 0.5%;
}
.example-card img {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}