
<!-- <div class="input">
  <mat-card class="example-card" *ngFor="let x of dataSearch.data?.items 
  | paginate: {itemsPerPage: num, currentPage: p}" 
  [routerLink]="x.id.videoId" routerLinkActive="router-link-active" >
    <img mat-card-image [src]="x.snippet.thumbnails.high.url" alt="{{x.snippet.title}}">
    <mat-card-header>
      <mat-card-title style="overflow-y: hidden; height: 26px">{{x.snippet.title}}</mat-card-title>
      <mat-card-subtitle>{{x.snippet.publishedAt}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{x.snippet.description}}</p>
    </mat-card-content>
  </mat-card>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls>  -->

<div style="display: flex; justify-content: center;">
  <mat-list>
    <mat-list-item *ngFor="let x of dataSearch.data?.items 
    | paginate: {itemsPerPage: num, currentPage: p}" style="height:150px" 
    (click)="openDialog(x.id.videoId)">
      <img matListAvatar style="width: 150px; height: 100px; border-radius: 0" [src]="x.snippet.thumbnails.high.url" alt="{{x.snippet.title}}">
      <h3 matLine> {{x.snippet.title}} </h3>
      <p matLine>
        <span> {{x.snippet.description}} </span>
      </p>
    </mat-list-item>
  </mat-list>
</div>
<pagination-controls (pageChange)="p=$event"></pagination-controls> 
